{% extends 'base_template.html' %}

{% block title %}
Add Data Page
{% endblock title %}

{% block custom_css %}
<style>
.bg_blue{
padding:10px;
border-radius:10px;
box-shadow:3px 3px 3px grey;
background:dodgerblue;
color:#fff;
}
.custom-block{
padding:15px;
border:1px solid dodgerblue;
}
</style>
{% endblock custom_css %}

{% block bodydata %}
<div class="container">
    <div class="row">
    <div class="col-lg-6 custom-block">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="bg_blue">Add Students</h2>
            </div>
            <div class="col-lg-12">
                <form action="/add_student" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                <div class="form-group">
                    <label class="control-label">Name : </label>
                    <input type="text" name="name" class="form-control">
                </div>
                <div class="form-group">
                    <label class="control-label">Email : </label>
                    <input type="text" name="email" class="form-control">
                </div>
                  <div class="form-group">
                    <label class="control-label">Standard : </label>
                    <input type="text" name="standard" class="form-control">
                </div>
                <div class="form-group">
                    <label class="control-label">Hobbies : </label>
                    <input type="text" name="hobbies" class="form-control">
                </div>
                <div class="form-group">
                    <label class="control-label">Roll No : </label>
                    <input type="text" name="roll_no" class="form-control">
                </div>
                <div class="form-group">
                    <label class="control-label">Bio : </label>
                    <input type="text" name="bio" class="form-control">
                </div>
                <div class="form-group">
                    <label class="control-label">Profile : </label>
                    <input type="file" name="profile" class="form-control">
                </div>
                <div class="form-group">
                    <label class="control-label">Course : </label>
                    <select name="course" class="form-control course">
                        {% for course in courses %}
                            <option value="{{ course.id }}">{{ course.course_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                 <div class="subject-div">

                 </div>
                 <div class="form-group">
                     <div class="row">
                         <div class="col-lg-6">
                             <button class="add_subject btn btn-block btn-info" type="button">Add Subject</button>
                         </div>
                         <div class="col-lg-6">
                             <button class="remove_subject btn btn-block btn-danger" type="button">Remove Subject</button>
                         </div>
                     </div>
                 </div>
                <div class="form-group">
                    <input type="submit" name="submit" class="btn btn-block btn-success" value="Add Students">
                </div>

                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6 custom-block">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="bg_blue">Add Teacher</h2>
            </div>
            <div class="col-lg-12">
                <form action="/add_teacher" method="post">
                  {% csrf_token %}
                <div class="form-group">
                    <label class="control-label">Name : </label>
                    <input type="text" name="name" class="form-control">
                </div>
                <div class="form-group">
                    <label class="control-label">Email : </label>
                    <input type="text" name="email" class="form-control">
                </div>
                  <div class="form-group">
                    <label class="control-label">Department : </label>
                    <input type="text" name="department" class="form-control">
                </div>
                <div class="form-group">
                    <input type="submit" name="submit" class="btn btn-block btn-success" value="Add Teachers">
                </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                 {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == 'success' %}
                                <div class="alert alert-success">{{ message }}</div>
                            {% elif message.tags == 'error' %}
                                <div class="alert alert-danger">{{ message }}</div>
                            {% endif %}
                        {% endfor %}
                 {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock bodydata %}

{% block custom_js %}
<script>
    $(document).ready(function(){
        console.log("Ready");
        var div_data="";

        fetchSubjects($(".course").val());
        $(".course").change(function(){
            $(".subject-div").html('')
            fetchSubjects($(this).val());
        });

        $(".add_subject").click(function(){
            $(".subject-div").append(div_data);
        });

        $(".remove_subject").click(function(){
            $(".subject-div .form-group:last").remove()
        })

        function fetchSubjects(course_id){
           $.ajax({
            url:'http://127.0.0.1:8000/getSubjects',
            type:'POST',
            data:{course_id:course_id},
           })
           .done(function(response){
                div_data="<div class='form-group'><select class='form-control' name='subjects[]'>"
                for(key in response){
                    div_data+="<option value='"+response[key]['pk']+"'>"+response[key]['fields']['subject_name']+"</option>";
                }
                div_data+='</select></div>'
           })
           .fail(function(){
                console.log("Failed")
           })
        }

    });
</script>
{% endblock custom_js %}

